
body {
  margin : 0px;
  min-width:800px;
  overflow-x:scroll;
}

.no-padding {
  padding:0px!important;
}

.pointer {
  cursor : pointer;
  z-index : 1001;
}
.nav-item {
  list-style:none;
}

.wrapper {
  padding : 25px;
}